
<html>

<head>
   
    <title>Dashboard</title>
    <meta charset="UTF-8">
    
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script> 
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

     
    <script src="../../bower_components/underscore/underscore.js"></script>
    <script src="../../bower_components/backbone/backbone.js"></script>
    
    <style type="text/css">
        body{
            font-family: 'Open Sans', sans-serif;
        }
        
        form {
            margin-bottom: 0px;
        }

        #feedbackForm{
            text-align: left;
        }
        .btn,.form-control,.modal-content,.panel-heading,.navbar,.btn-group-vertical>.btn:first-child:not(:last-child),.btn-group-vertical>.btn:last-child:not(:first-child){
            border-radius: 0px;
        }
        @media (min-width: 768px){
            .modal-dialog{
                width : 500px;
            }
        }
        .modal-body{
            background: #E6E7EB;
        }
        .modal-content{
            
        }
        .modal-header{
            padding-bottom: 0px;
        }
        .modal-title{
            padding-bottom: 5px;
        }
        .modal-title h4{
            font-size: 20px;
        }
        .modal-header p, .panel-default{
            font-size: 12px;
        }
        .panel-heading:hover{
            background-color : #aaaaaa;
            color: #fff; 
            cursor: pointer;
        }
        .panel-default > .active-panel{
            background-color : #ccc;
            color: #000; 
        }
        
        .form-layer{
            background: #f4f4f4;
            padding: 10px;
        }
        
        [contenteditable]:hover:not(:focus){
            outline: 1px dotted #ccc;
        }
        
        /*new properties*/
        textarea{
            width: 100%;
            height: 70px;
        }
        .delete{
            padding:1px 5px;
            font-size: 10px;
        }
        .edit-remove-element{
            float: right;
            display: none;
        }
        
        
    </style>
    
    <script type="text/javascript">
        
        window.id = 0;
        
        $(document).ready(function () {
            
            vmlib.showLivePromo();
            
            $('.add-panel-element').click(function(){
                
                console.log("Added the element");
                
                var panelElement = '<div class="panel-heading"> <span class="glyphicon glyphicon-shopping-cart"> </span><span style="padding-left:5px" class="panelText" contenteditable="true" >Yout text here</span></div>'
                $('#panel-elements').append(panelElement);
                
            });
            
            $('#liveViewPromoBtn').click(vmlib.showLivePromo);
            
            $(".panel-heading").on('click',function(){
                
//                console.log($(this));
//                
//                $('.panel-heading').each(function(){
//                   $(this).removeClass('active-panel'); 
//                });
//                $(this).addClass('active-panel');
//            
            });
            
            $('.panel-heading').hover(function(){
                
               $('.edit-remove-element').css('display','block');
                $(this).append($('.edit-remove-element'));
                $('.edit-remove-element').css({color : '#000',display:'block'});
                
            });
            
            $('.panel-default').mouseleave(function(){
               $('.edit-remove-element').css('display','none'); 
            });
            
        });
        
        
        var vmlib = {
            showLivePromo : function(){
                console.log('called');
                //processFormElements();
                $("#processContainer").html($("#formHTMLEditContainer").html());
                
                //remove content editable properties
                $(".formHeading")[1].removeAttribute('contenteditable');
                $(".formDescription")[1].removeAttribute('contenteditable');
                
                
                var panelText = $('.panel-text');
                var start = panelText.length/2;
                for(i=start; i < panelText.length ; i++){
                    panelText[i].removeAttribute('contenteditable');
                }
                
                var removable = $('.removable');
                var start = removable.length/2;
                for(i=start; i < removable.length ; i++){
                    removable[i].remove();
                }
                
                
                
               $("#myModal").html($("#processContainer").html());
               $("#myModal").modal({});
                
            }
        }

    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                
            </nav>
        </div>
        <div class="container-fluid" id="DashBoardDiv">
            <div class="row">
                <div class="pull-right">
               <button class="btn btn-primary" id="liveViewPromoBtn"> View Live Promo</button>
                </div>
                <br>
            </div>
            
            <div class="row">
                
                <div class="col-md-2"></div>
                
                <!-- Contains the Preview Form layer -->
                <div class="col-md-10" id="formHTMLEditContainer">
                    
                </div>
                
            </div>
            
            <div class="" style="z-index:20000; position:fixed; top : 100px;">
                
                <div class="btn-group-vertical">
                   <button class="btn btn-primary">Continue with default form</button>
                   <br>
                   <button class="btn btn-success">Edit this form</button>
                   <br>
                   <button class="btn btn-default">Done</button>
                </div>
            </div>

        <!--Append the final code here -->
            <div class="row" id="output" style="margin-top:3%;">
                
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <code id="htmlTemplate" style="display:block;white-space:pre-wrap;"></code>
                </div>
                <div class="col-md-3"></div>
                
            </div>
            
            
            
            <div class="row"><br><br></div>
            
                
            
        </div>
        
        
<!--        Live promo modal show -->
       
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            </div>
        
        <div id="processContainer" style="display:none;">
            
        </div>
        
    </div>

    <!-- keeping the backbone templates static now -->
    
    <script type="text/template" id="formEditViewTemplate">
        <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="formHeading" contenteditable="true" >Feedback</h4>
                            <p contenteditable="true" class="formDescription">Please tell us what do you think, any kind of feedback is highly appreciated !</p>
                          </div>
                          <div class="modal-body">
                               <div class="panel-default" id="panel-elements">
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-shopping-cart"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Like</span> 
                                    </div>
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-shopping-cart"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Question</span> 
                                    </div>
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-shopping-cart"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Suggestion</span> 
                                    </div>
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-shopping-cart"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Problem</span> 
                                    </div>
                                </div>
                                <div class="removable" align="center" style="padding-top:10px">
                                    <a href="#" class="add-panel-element"> <span class="glyphicon glyphicon-plus">Add</span> </a>
                                </div>
                                 <div class="removable edit-remove-element" remove-element="">
                                     <!-- <span class="glyphicon glyphicon-pencil"></span> -->
                                     <a href="#" style="color:#A82400; text-decoration:none"><span class="glyphicon glyphicon-remove"></span></a>
                                 </div>
                          </div>
                          <div class="modal-footer">
                            <div align="center" class="removable">
                                    <a href="#" class="add-new-element"> <span class="glyphicon glyphicon-plus">Add</span> </a>
                            </div>
                            <div id="form-elements"></div>
                            
                            <!--  The formBuilder is loaded in this div-->
                            <div class="" id="primaryTemplate"></div>
                            
                            <button type="button" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                    </div>
    </script>
    
   
    <script type="text/template" id="formAddNewTemplate">
        <div class="col-md-12" id="feebackFormHtmlContainer">
            <form role="form" method="post" id="feedbackForm" name="feedbackForm">

            </form>
        </div>       
        <div class="col-md-12 removable">
            <div class="form-layer">
                <form role="form" method="get" id="formGeneratorWidget" action="">

                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldTitle" placeholder="Field title" name="fieldTitle">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldHelp" placeholder="Field Help" name="fieldHelp">
                    </div>
                        <div class="form-group">
                            <select name="fieldType" id="fieldType" class="form-control">
                                <option value="inputBox">Inputbox</option>
                                <option value="textArea">TextArea</option>
                                <option value="checkBox">Checkbox</option>
                                <option value="radioButton">RadioButton</option>
                                <option value="listBox">ListBox</option>
                            </select>
                        </div>
                        <div class="form-group" id="fieldValuesDiv"></div>

                    <div align="center">
                        <input type="button" value="Add field" class="btn btn-primary" id="addFieldButton" />
                    </div>
                </form>

            </div>
        </div>
    </script>
    
    <script type="text/template" id="liveViewTemplate">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="form-group">
                This should ideally be the live promo !
            </div>
        </div>
        <div class="col-md-2"> <a href="#" class="delete btn btn-small btn-danger">X</a></div>
    </script>
     
    <script type="text/template" id="inputBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><a href="#" class="delete btn btn-small btn-danger pull-right">X</a></div>
        
        <div class="col-md-12">
            <div class="form-group">
               <input type="text" name="{{ fieldTitle  }}" id=" {{ fieldTitle }}" placeholder="{{ fieldTitle }}" class="form-control" >
            </div>
        </div>
    </script>
    
    <script type="text/template" id="textAreatemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><a href="#" class="delete btn btn-small btn-danger pull-right">X</a></div>
        <div class="col-md-12">
            <div class="form-group">
               <textarea name="{{ fieldTitle }}" id="{{ fieldTitle }}" placeholder="{{fieldTitle}}"></textarea>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="checkBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><a href="#" class="delete btn btn-small btn-danger pull-right">X</a></div>

        <div class="col-md-12">
            <div class="checkbox">
                <@ _.each(fieldValues, function(v) { @> <label><input type="checkbox" name="{{v}}" value="{{v}}"> {{ v  }}</label> <@ }); @>
              </div>
        </div>
    </script> 
    
    <script type="text/template" id="radioButtontemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><a href="#" class="delete btn btn-small btn-danger pull-right">X</a></div>

        <div class="col-md-12">
            <div class="radio">
              <@ _.each(fieldValues, function(v) { @> <label><input type="radio" name="{{fieldTitle}}" value="{{v}}"> {{ v  }}</label> <@ }); @>
            </div>
        </div>
    </script> 
    
    <script type="text/template" id="listBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><a href="#" class="delete btn btn-small btn-danger pull-right">X</a></div>

        <div class="col-md-8">
            <div class="form-group">
               <select class="form-control" name="{{ fieldTitle }}">
               
               <@ _.each(fieldValues, function(v) { @> <option name="{{v}}" value="{{v}}"> {{ v }}</option> <@ }); @>
               
                </select>
            </div>
        </div>
    </script>
    
    
    <!--  Backbone app specfic renders  -->
    
    <script src="../../app/backbone/router.js"></script>
    <script src="../../app/backbone/models/feedbackModels.js"></script>
    <script src="../../app/backbone/views/feedbackViews.js"></script>
    
    

    <script type="text/javascript">
        
        window.formElementCollection = new app.Collections.FormElementCollection;
        var router = new app.mainRoutes({
            formElementCollection : window.formElementCollection
        });

         //initiate Backbone to listen to the urls
        Backbone.history.start();
    </script>
</body>

</html>

</html>