
<html>

<head>
   
    <title>Dashboard</title>
    <meta charset="UTF-8">
    
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script> 
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

     
    <script src="../../bower_components/underscore/underscore.js"></script>
    <script src="../../bower_components/backbone/backbone.js"></script>
    
    <style type="text/css">
        body{
            font-family: 'Open Sans', sans-serif;
        }
        
        form {
            margin-bottom: 0px;
        }

        #feedbackForm{
            text-align: left;
        }
        .btn,.form-control,.modal-content,.panel-heading{
            border-radius: 0px;
        }
        @media (min-width: 768px){
            .modal-dialog{
                width : 500px;
            }
        }
        .modal-body{
            background: #E6E7EB;
        }
        .modal-content{
            
        }
        .modal-header{
            padding-bottom: 0px;
        }
        .modal-title{
            padding-bottom: 5px;
        }
        .modal-title h4{
            font-size: 20px;
        }
        .modal-header p, .panel-default{
            font-size: 12px;
        }
        .panel-heading:hover{
            background-color : #428bca;
            color: #fff;
            cursor: pointer;
        }
        .panel-default > .active-panel{
            background-color : #f0ad4e;
            color: #fff;
        }
        
        .form-layer{
            background: #f4f4f4;
            padding: 10px;
        }
        
        [contenteditable]:hover:not(:focus){
            outline: 1px dotted #ccc;
        }
        
        /*new properties*/
        textarea{
            width: 100%;
            height: 70px;
        }
        .delete{
            padding:1px 5px;
            font-size: 10px;
        }
        
        
    </style>
    
    <script type="text/javascript">
        
        window.id = 0;
        
        $(document).ready(function () {
            
            $('select#fieldType').change(function(){
                if($(this).val()=="checkBox"||
                    $(this).val() == "radioButton" ||
                    $(this).val() == "listBox"){
                    var inputElement = '<input type="text" class="form-control" id="fieldValues" placeholder="Comma seperated field values" name="fieldValues">'
                    $("#fieldValuesDiv").html(inputElement);
                }else{
                    $("#fieldValuesDiv").html("")
                }
            });
            
            $('#promoButton').click(function(){
                $("#form-elements").html($('#htmlTemplate').text());
               $("#myModal").modal({});
            });
            
            
            $(".panel-heading").click(function(){
                
                $('.panel-heading').each(function(){
                   $(this).removeClass('active-panel'); 
                });
                $(this).addClass('active-panel');
            
            });
            
        });

    </script>
    
    <script type="text/javascript">
        window.onload = function() {
  // Get a reference to the div on the page that will display the
  // message text.
  var messageEle = document.getElementById('message');

  // A function to process messages received by the window.
  function receiveMessage(e) {
    // Check to make sure that this message came from the correct domain.
//    if (e.origin !== "http://www.viralmint.com")
//      return;
      console.log(e);

    // Update the div element to display the message.
    messageEle.innerHTML = "Message Received: " + e.data;
  }

  // Setup an event listener that calls receiveMessage() when the window
  // receives a new MessageEvent.
  window.addEventListener('message', receiveMessage);
}
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                
            </nav>
        </div>
        <div class="container-fluid" id="DashBoardDiv">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="#feedback/add">
<!--                        <button class="btn btn-primary">Form builder</button>-->
                    </a>

                    
                </div>
                <div class="col-md-4"><button class="btn btn-primary pull-right" id="promoButton">View Live Promo</button></div>
            </div>
            
            <div class="row"><br></div>
            
        <!--  All the changes happen in this div-->
            <div class="row" id="primaryTemplate"></div>

        <!--Append the final code here -->
            <div class="row" id="output" style="margin-top:3%;">
                
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <code id="htmlTemplate" style="display:block;white-space:pre-wrap;"></code>
                </div>
                <div class="col-md-3"></div>
                
            </div>
            
            <div class="row"><br><br></div>
            
                
            
        </div>
<!--        Live promo modal show -->
       
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" contenteditable="true" >Feedback</h4>
                    <p contenteditable="true">Please tell us what do you think, any kind of feedback is highly appreciated !</p>
                  </div>
                  <div class="modal-body">
                       <div class="panel-default">
                            <div class="panel-heading"> Price Too High</div>
                            <div class="panel-heading"> Didn't find what i was looking for</div>
                            <div class="panel-heading"> I am lost!</div>
                            <div class="panel-heading"> Didn't find the right payment option</div>
                            <div class="panel-heading"> 
                                <span class="glyphicon glyphicon-shopping-cart"> </span>
                                <span style="padding-left:5px">I don't want to buy right now</span> 
                            </div>
                            <div class="panel-heading"> I need more Product Information</div>
                            <div class="panel-heading"> Other </div>
                        </div>
<!--
                        <div id="form-elements">
                            
                        </div>
-->
                  </div>
                  <div class="modal-footer">
                  <div id="form-elements">
                            
                        </div>
<!--                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
        
        
        
    </div>

    <!-- keeping the backbone templates static now -->

    <script type="text/template" id="formBuilderTemplate">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div align="center"> <h3>Form Builder</h3> </div>
            <div class="form-layer">
                <form role="form" method="get" id="formGeneratorWidget" action="">

                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldTitle" placeholder="Field title" name="fieldTitle">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldHelp" placeholder="Field Help" name="fieldHelp">
                    </div>
                        <div class="selectCategroy">
                            <select name="fieldType" id="fieldType" class="form-control">
                                <option value="inputBox">Inputbox</option>
                                <option value="textArea">TextArea</option>
                                <option value="checkBox">Checkbox</option>
                                <option value="radioButton">RadioButton</option>
                                <option value="listBox">ListBox</option>
                            </select>
                        </div>
                        <div><br></div>
                        <div class="form-group" id="fieldValuesDiv"></div>

                    <div align="center">
                        <input type="button" value="Add field" class="btn btn-primary" id="addFieldButton" />
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-5" id="feebackFormHtmlContainer">
            <form role="form" method="post" id="feedbackForm" name="feedbackForm">

            </form>
        </div>
    </script>
    
    <script type="text/template" id="liveViewTemplate">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="form-group">
                This should ideally be the live promo !
            </div>
        </div>
        <div class="col-md-2"> <a href="#" class="delete btn btn-small btn-danger">X</a></div>
    </script>
     
    <script type="text/template" id="inputBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2"><a href="#" class="delete btn btn-small btn-danger pull-right">X</a></div>
        
        <div class="col-md-12">
            <div class="form-group">
               <input type="text" name="{{ fieldTitle  }}" id=" {{ fieldTitle }}" placeholder="{{ fieldTitle }}" class="form-control" >
            </div>
        </div>
    </script>
    
    <script type="text/template" id="textAreatemplate">
        <div class="col-md-12" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-12">
            <div class="form-group">
               <textarea name="{{ fieldTitle }}" id="{{ fieldTitle }}" placeholder="{{fieldTitle}}"></textarea>
               <a href="#" class="delete btn btn-small btn-danger">X</a>
            </div>
        </div>
        <div class=""></div>
    </script>
    
    <script type="text/template" id="checkBoxtemplate">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="checkbox">
                <@ _.each(fieldValues, function(v) { @> <label><input type="checkbox" name="{{v}}" value="{{v}}"> {{ v  }}</label> <@ }); @>
              </div>
        </div>
        <div class="col-md-2"><a href="#" class="delete btn btn-small btn-danger">X</a></div>
    </script> 
    
    <script type="text/template" id="radioButtontemplate">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="radio">
              <@ _.each(fieldValues, function(v) { @> <label><input type="radio" name="{{fieldTitle}}" value="{{v}}"> {{ v  }}</label> <@ }); @>
            </div>
        </div>
        <div class="col-md-2"><a href="#" class="delete btn btn-small btn-danger">X</a></div>
    </script> 
    
    <script type="text/template" id="listBoxtemplate">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="form-group">
               <select class="form-control" name="{{ fieldTitle }}">
               
               <@ _.each(fieldValues, function(v) { @> <option name="{{v}}" value="{{v}}"> {{ v }}</option> <@ }); @>
               
                </select>
            </div>
        </div>
        <div class="col-md-2"><a href="#" class="delete btn btn-small btn-danger">X</a></div>
    </script>
    
    
    <!--  Backbone app specfic renders  -->
    
    <script src="../../app/backbone/router.js"></script>
    <script src="../../app/backbone/models/feedbackModels.js"></script>
    <script src="../../app/backbone/views/feedbackViews.js"></script>
    
    

    <script type="text/javascript">
        
        window.formElementCollection = new app.Collections.FormElementCollection;
        var router = new app.mainRoutes({
            formElementCollection : window.formElementCollection
        });

         //initiate Backbone to listen to the urls
        Backbone.history.start();
    </script>
</body>

</html>

</html>
