
<html>

<head>
   
    <title>Dashboard</title>
    <meta charset="UTF-8">
    
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script> 
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

     
    <script src="../../bower_components/underscore/underscore.js"></script>
    <script src="../../bower_components/backbone/backbone.js"></script>
    
    <style type="text/css">
        body{
            font-family: 'Open Sans', sans-serif;
        }
        
        form {
            margin-bottom: 0px;
        }

        #feedbackForm, #user_input{
            text-align: left;
        }
        .btn,.form-control,.modal-content,.panel-heading,.navbar,.btn-group-vertical>.btn:first-child:not(:last-child),.btn-group-vertical>.btn:last-child:not(:first-child){
            border-radius: 0px;
        }
        @media (min-width: 768px){
            .modal-dialog{
                width : 500px;
            }
        }
        .modal-body{
            background: #E6E7EB;
        }
        .modal-content{
            
        }
        .modal-header{
            padding-bottom: 0px;
        }
        .modal-title{
            padding-bottom: 5px;
        }
        .modal-title h4{
            font-size: 20px;
        }
        .modal-header p, .panel-default{
            font-size: 12px;
        }
        .panel-heading:hover{
            background-color : #aaaaaa;
            color: #fff; 
            cursor: pointer;
        }
        .panel-default > .active-panel{
            background-color : #ccc;
            color: #000; 
        }
        
        .form-layer{
            background: #f4f4f4;
            padding: 10px;
            margin-top: 7px;
            display: none;
        }
        
        [contenteditable]:hover:not(:focus){
            outline: 1px dotted #ccc;
        }
        
        /*new properties*/
        textarea{
            width: 100%;
            height: 70px;
        }
        .delete{
            padding:1px 5px;
            font-size: 10px;
        }
        .edit-remove-element{
            float: right;
            display: none;
        }
        
        #done-btn{
            display: none;
        }
        
        
    </style>
    
    <script type="text/javascript">
        
        window.id = 0;
        
        $(document).ready(function () {
            
            
            $('#output , #editbtngrp').hide();
            vmlib.showLivePromo();
            
            
            
            $('.add-panel-element').click(function(){
                
                console.log("Added the element");
                
                
                var panelElement = '<div class="panel-heading"> <span class="glyphicon glyphicon-shopping-cart"> </span><span class="panel-text" style="padding-left:5px" contenteditable="true" >Click her to edit the text</span><div class="removable edit-remove-element" remove-element=""><a href="#"  class="remove-anchor" style="color:#A82400; text-decoration:none"><span class="glyphicon glyphicon-remove"></span></a></div></div>'
                
                $('#panel-elements').append(panelElement);
                $('.panel-heading').hover(function(){
                
                $('.panel-heading').find('.edit-remove-element').css('display','none');
                $(this).find('.edit-remove-element').css('display','block');
                
            });
                
            });
            
            $('#liveViewPromoBtn').click(function(){
                $("#done-btn").show();
                $("#edit-form").show();
                $("#liveViewPromoBtn").hide();
                vmlib.showLivePromo();    
            });
            
            
            
            $('.panel-heading').hover(function(){    
                $('.panel-heading').find('.edit-remove-element').css('display','none');
                $(this).find('.edit-remove-element').css('display','block');
            });
            
//            $('.form-element').hover(function(){
//                $('.panel-heading').find('.edit-remove-element').css('display','none');
//                $(this).find('.edit-remove-element').css('display','block');
//            });
            
            $('.panel-default').mouseleave(function(){
               $('.edit-remove-element').css('display','none'); 
            });
            
            $("#continue-form").click(function(){
                $("#viewModal").modal('hide');
                $("#processContainer , #viewModal").html('');
                $("#actionbtngrp").hide();
            });
            
            $(".edit-form").click(function(){
                $("#processContainer , #viewModal").html('');
                $("#viewModal").modal('hide');
                $("#editModal").modal('show');
                $("#actionbtngrp").hide();
                $("#editbtngrp").show();
                $("#liveViewPromoBtn").show();
                $("#done-btn").hide();
                $("#edit-form").hide();
            });
            
            $("#done-btn , #continue-form").click(function(){
                
                var formObject = {
                    data : {
                        json : {},
                        html : ""
                    },
                    status : ""
                };
                
                var panelFieldsHtml = $('#viewModal').find('.panel-text');
                var formListGroup = [];
                panelFieldsHtml.each(function(index,el){
                    formListGroup.push(el.innerHTML);
                });
                
                var formAllElements = [];
                formElementCollection.models.forEach(function(el,i){
                    formAllElements.push(el.attributes);
                });
                
                
                
                var jsonObj = {
                    formHeading : $('#viewModal').find('.formHeading').html() || "",
                    formDescription : $('#viewModal').find('.formDescription').html() || "",
                    formListGroup : formListGroup,
                    formAllElements : formAllElements,
                    conf : {
                        modalHeight : "505px"
                    }
                }
                
                var modalHeight = "505px" ;
                
                //computing height for the view modal
                try{
                    var viewModal = document.getElementsByClassName("view-modal-container")[0];
                    var style = window.getComputedStyle(viewModal, null);
                    
                    console.log('style:' );
                    modalHeight = style.height ;
                    
                    
                    console.log(modalHeight);
                    if(style.height == "auto"){
                        console.log("Failed to calculate the height, Setting Default");
                        modalHeight = "505px";
                    }
                    
                }catch(e){
                    modalHeight = "505px";
                }
                
                //console.log(panelFieldsHtml);
                
                jsonObj.conf.modalHeight = modalHeight;
                
                //construct the final feedback form object
                formObject.data.json = jsonObj;
                formObject.data.html = $('#viewModal').html() || " <html> CUSTOM ERROR: NONTYPE </html>";
                formObject.status = "DONE" ;
                
                console.log(formObject);
                
                //window.sendMessage(formObject,'http://localhost');
                window.sendMessage(formObject,'http://clients.staging.viralmint.com');

                
            });
            
        });
        
        
        var vmlib = {
            showLivePromo : function(){
                console.log('called');
                //processFormElements();
                
                $("#processContainer").html($("#formHTMLEditContainer").html());
            
                //remove content editable properties
                
                $('#processContainer').find('.formHeading').removeAttr('contenteditable');
                $('#processContainer').find('.formDescription').removeAttr('contenteditable');
                //$(".formHeading")[1].removeAttribute('contenteditable');
                //$(".formDescription")[1].removeAttribute('contenteditable');
                
                var panelText = $('#processContainer').find('.panel-text');

                for(i=0; i < panelText.length ; i++){
                    panelText[i].removeAttribute('contenteditable');
                }
                
                var removable =  $('#processContainer').find('.removable');
                for(i=0; i < removable.length ; i++){
                    removable[i].remove();
                }

               $("#viewModal").html($("#processContainer").html());
                
                $("#processContainer").html('');
               $("#editModal").modal('hide');
               $("#viewModal").modal({});
            
                
            }
        }

    </script>
    
    
    <!-- Script for sending and accepting the postMessages from the parent window    -->
    <script type="text/javascript">
        
        window.onload = function() {
          // A function to process messages received by the window.
            window.receiveMessage = function(e) {
            // Check to make sure that this message came from the correct domain.
            //    if (e.origin !== "http://www.viralmint.com")
            //      return;
              console.log(e);

            // Update the div element to display the message.
            //Do what ever with the message 
          }
          
          window.sendMessage = function(obj,url){
              window.parent.postMessage(obj,url);
          }

          // Setup an event listener that calls receiveMessage() when the window
          // receives a new MessageEvent.
          window.addEventListener('message', window.receiveMessage);
        }
    
        
    </script>
    

</head>

<body>
    <div class="container-fluid">
        <div class="row">
<!--
            <nav class="navbar navbar-inverse" role="navigation">
                
            </nav>
-->
        </div>
        <div class="container-fluid" id="DashBoardDiv">
            
            <!-- contains the edit form actions -->
            <div id="editbtngrp" style="z-index:20000; position:fixed; top : 100px;">
                <div class="btn-group-vertical">
                   <button class="btn btn-primary" id="liveViewPromoBtn"> View Live Promo</button>
                    <br>
                    <button class="btn btn-success edit-form" id="edit-form">Edit this form</button>
                    <br>
                    <button class="btn btn-default" id="done-btn"> Done</button>
                </div>
            </div>
            
            <!-- Contains the inital actions -->
            <div id="actionbtngrp" style="z-index:20000; position:fixed; top : 100px;">
                <div class="btn-group-vertical">
                   <button class="btn btn-primary" id="continue-form">Continue with default form</button>
                   <br>
                   <button class="btn btn-success edit-form" id="edit-form">Edit this form</button>
                   <br>
                </div>
            </div>

            <!--Append the final code here -->
            <div class="row" id="output" style="margin-top:3%;">
                
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <code id="htmlTemplate" style="display:block;white-space:pre-wrap;"></code>
                </div>
                <div class="col-md-3"></div>
                
            </div>
            
            <!-- Clearfix -->
            <div class="row"><br><br></div>
            
                
            
        </div>
        
        
<!--        Live promo modal show -->
       
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">

            </div>
            
            
<!--        Edit promo modal show -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
                 <!-- Container row for the Final Edit Form View -->
                <div class="row" id="formHTMLRow" >
                    <!-- Contains the Edit Form layer loaded via views -->
                    <div class="col-md-12" id="formHTMLEditContainer">  
                    </div>
                </div>
                
            </div>
        
        <div id="processContainer" style="display:none;">
            
        </div>
        
    </div>

    <!-- keeping the backbone templates static now -->
    
    <script type="text/template" id="formEditViewTemplate">
        <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="formHeading" contenteditable="true" >Feedback</h4>
                            <p contenteditable="true" class="formDescription">Please tell us what do you think, any kind of feedback is highly appreciated !</p>
                          </div>
                          <div class="modal-body">
                               <span class="removable pull-right" style="position:relative; bottom:15px; left:2px; font-size:12px;">
                                    <a href="#"  class="remove-anchor" style="color:#A82400; text-decoration:none">
                                            <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                               </span>
                               <div class="panel-default" id="panel-elements">
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-thumbs-up"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Like</span>
                                         <div class="removable edit-remove-element" remove-element="">
                                            <a href="#"  class="remove-anchor" style="color:#A82400; text-decoration:none">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-pencil"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Question</span> 
                                        <div class="removable edit-remove-element" remove-element="">
                                            <a href="#" class="remove-anchor" style="color:#A82400; text-decoration:none">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-comment"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Suggestion</span> 
                                        <div class="removable edit-remove-element" remove-element="">
                                            <a href="#"  class="remove-anchor" style="color:#A82400; text-decoration:none">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-heading"> 
                                        <span class="glyphicon glyphicon-pushpin"> </span>
                                        <span class="panel-text" style="padding-left:5px" contenteditable="true" >Problem</span> 
                                        <div class="removable edit-remove-element" remove-element="">
                                            <a href="#"  class="remove-anchor" style="color:#A82400; text-decoration:none">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="removable" align="center" style="padding-top:10px">
                                    <a href="#" class="add-panel-element"> <span class="glyphicon glyphicon-plus">Add</span> </a>
                                </div>
                                
                          </div>
                          <div class="modal-footer">
                            
                            <div id="form-elements"></div>
                            
                            <!--  The formBuilder is loaded in this div-->
                            <div class="" id="primaryTemplate"></div>
                            
                            <div align="center" class="removable">
                                    <a href="#" class="add-new-element"> <span class="glyphicon glyphicon-plus">Add</span> </a>
                            </div>
                            
                            
                            <button type="button" id="submitFdFormBtn" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                    </div>
    </script>
    
   
    <script type="text/template" id="formAddNewTemplate">
        <div class="col-md-12" id="feebackFormHtmlContainer">
            <form role="form" method="post" id="user_input" name="user_input">

            </form>
        </div>       
        <div class="col-md-12 removable">
            <div class="form-layer">
                <form role="form" method="get" id="formGeneratorWidget" action="">

                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldTitle" placeholder="Field Placeholder (Ex: Email)" name="fieldTitle">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldHelp" placeholder="Field Help (Ex : Email is compulsory)" name="fieldHelp">
                    </div>
                        <div class="form-group">
                            <select name="fieldType" id="fieldType" class="form-control">
                                <option value="inputBox">Input Field</option>
                                <option value="textArea">Text Area</option>
                                <option value="checkBox">Checkbox</option>
                                <option value="radioButton">Multiple choices</option>
                                <option value="listBox">List Dropdown</option>
                            </select>
                        </div>
                        <div class="form-group" id="fieldValuesDiv"></div>

                    <div align="center">
                        <input type="button" value="Add field" class="btn btn-primary" id="addFieldButton" />
                    </div>
                </form>

            </div>
        </div>
    </script>
    
    <script type="text/template" id="liveViewTemplate">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="form-group">
                This should ideally be the live promo !
            </div>
        </div>
        <div class="col-md-2"> <a href="#"  class="remove-anchor" style="color:#A82400; text-decoration:none"><span class="glyphicon glyphicon-remove"></span></a></div>
    </script>
     
    <script type="text/template" id="inputBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><span class="pull-right"><a href="#" class="delete glyphicon glyphicon-remove" style="color:#A82400; text-decoration:none"></a></span></div>
    
        
        
        <div class="col-md-12">
            <div class="form-group">
               <input type="text" name="{{ fieldType  }}_{{id}}" id=" {{ fieldType }}_{{id}}" placeholder="{{ fieldTitle }}" class="form-control" >
            </div>
        </div>
    </script>
    
    <script type="text/template" id="textAreatemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><span class="pull-right"><a href="#" class="delete glyphicon glyphicon-remove" style="color:#A82400; text-decoration:none"></a></span></div>
        <div class="col-md-12">
            <div class="form-group">
               <textarea name="{{ fieldType }}_{{id}}" id="{{ fieldType }}_{{id}}" placeholder="{{fieldTitle}}"></textarea>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="checkBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><span class="pull-right"><a href="#" class="delete glyphicon glyphicon-remove" style="color:#A82400; text-decoration:none"></a></span></div>

        <div class="col-md-12">
            <div class="checkbox">
                <@ _.each(fieldValues, function(v) { @> <label><input type="checkbox" name="{{v}}" value="{{v}}"> {{ v  }}</label> <@ }); @>
              </div>
        </div>
    </script> 
    
    <script type="text/template" id="radioButtontemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><span class="pull-right"><a href="#" class="delete glyphicon glyphicon-remove" style="color:#A82400; text-decoration:none"></a></span></div>

        <div class="col-md-12">
            <div class="radio">
              <@ _.each(fieldValues, function(v) { @> <label><input type="radio" name="{{fieldType}}_{{id}}" value="{{v}}"> {{ v  }}</label> <@ }); @>
            </div>
        </div>
    </script> 
    
    <script type="text/template" id="listBoxtemplate">
        <div class="col-md-10" style="padding-bottom:3px;"><span style=" padding:2px; font-size:12px;" >{{ fieldHelp }}</span></div>
        <div class="col-md-2 removable"><span class="pull-right"><a href="#" class="delete glyphicon glyphicon-remove" style="color:#A82400; text-decoration:none"></a></span></div>

        <div class="col-md-8">
            <div class="form-group">
               <select class="form-control" name="{{ fieldType }}_{{id}}">
               
               <@ _.each(fieldValues, function(v) { @> <option name="{{v}}" value="{{v}}"> {{ v }}</option> <@ }); @>
               
                </select>
            </div>
        </div>
    </script>
    
    
    <!--  Backbone app specfic renders  -->
    
    <script src="../../app/backbone/router.js"></script>
    <script src="../../app/backbone/models/feedbackModels.js"></script>
    <script src="../../app/backbone/views/feedbackViews.js"></script>
    
    

    <script type="text/javascript">
        
        window.formElementCollection = new app.Collections.FormElementCollection;
        var router = new app.mainRoutes({
            formElementCollection : window.formElementCollection
        });

         //initiate Backbone to listen to the urls
        Backbone.history.start();
    </script>
</body>

</html>