
<html>

<head>
   
    <title>Dashboard</title>
    <meta charset="UTF-8">
    
        <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/underscore/underscore.js"></script>
    <script src="../../bower_components/backbone/backbone.js"></script>
    <script src="../../app/backbone/router.js"></script>
    <script src="../../app/backbone/models/feedbackModels.js"></script>
    <script src="../../app/backbone/views/feedbackViews.js"></script>
    
    <script type="text/javascript">

        var formSource="";
        $(document).ready(function () {
            formSource="";
            $("#addFieldButton").click(function(e){
                e.preventDefault();
                var fieldTitle = $("#fieldTitle").val();
                var fieldHelp = $("#fieldHelp").val();
                var fieldType = $("#fieldType").val();

                if(fieldType=="inputBox")
                {
                    addBr();
                    addInputBox(fieldTitle,fieldHelp);
                    $("#fieldTitle").val("");
                    $("#fieldHelp").val("");
                }
                if(fieldType=="textArea")
                {
                    addBr();
                    addTextArea(fieldTitle,fieldTitle);
                    $("#fieldTitle").val("");
                    $("#fieldHelp").val("");
                }
                if(fieldType=="radioButton")
                {
                    addBr();
                    addRadioButton(fieldTitle,fieldHelp);
                    $("#fieldTitle").val("");
                    $("#fieldHelp").val("");
                }
                if(fieldType=="checkBox")
                {
                    addBr();
                    addCheckBox(fieldTitle,fieldHelp);
                    $("#fieldTitle").val("");
                    $("#fieldHelp").val("");
                }
            });


            $("#promoButton").click(function(e){
            e.preventDefault();
            $("#feedback").html(formSource);
            });
        });



        function addBr()
        {
            formSource +="</br>";
        }

        function addInputBox(name,help)
        {
            console.log(name);
            console.log(help);
            
            elementContainer = '<div class="form-element"></div>';
            $("#feedback").add(elementContainer);
            
            
            
            formSource+= '<label><B>'+name+'</B></label></br>';
            formSource +='<input type="text" class="form-control" id="'+name+'" placeholder="'+help+'" name="'+name+'">';
            console.log(formSource);
        }

        function addTextArea(name,help)
        {
            formSource+= '<label><B>'+name+'</B></label></br>';
            formSource+= '<textarea name="'+name+'" id="'+name+'">'+help+'</textarea>';
        }

        function addCheckBox(title,name)
        {
            formSource+= '<label><B>'+title+'</B></label></br>';
            checkBoxArr = name.split(",");
            for(i=0;i<checkBoxArr.length;i++)
            {
                tempName = checkBoxArr[i].trim();
                formSource +='<input type="checkbox" class="checkbox" id="'+tempName+'" name="'+tempName+'">';
                formSource+= '<label>'+tempName+'</label>';
                addBr();
            }
        }

        function addRadioButton(title,name)
        {
            formSource+= '<label><B>'+title+'</B></label></br>';
            RadioButtonArr = name.split(",");
            for(i=0;i<RadioButtonArr.length;i++)
            {
                tempName = RadioButtonArr[i].trim();
                formSource +='<input type="radio" class="checkbox" id="'+tempName+'" name="'+tempName+'">';
                formSource+= '<label>'+tempName+'</label>';
                addBr();
            }
        }
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div id="companyLogo" style="float:left; margin-left: 15px;">
                    <img src="../media/images/company-logo.jpg" width="100px; height;inherit;" />
                </div>
                <div class="pull-right">
                    <button type="button" class="btn">logout</button>
                </div>
            </nav>
        </div>
        <div class="container" id="DashBoardDiv">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-md-10" >
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="#feedback/add">
                                <button class="btn btn-primary">Form builder</button>
                            </a>

                            <button class="btn btn-primary" id="promoButton">View Live Promo</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row" id="primaryTemplate"></div>

                    
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <!-- keeping the views templates static now -->

    <script type="text/template" id="formBuilderTemplate">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="form-layer">
                <form role="form" method="post" action="">

                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldTitle" placeholder="Field title" name="fieldTitle">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fieldHelp" placeholder="Field Help" name="fieldHelp">
                    </div>
                        <div class="selectCategroy">
                            <select name="fieldType" id="fieldType" class="form-control">
                                <option value="inputBox">Inputbox</option>
                                <option value="textArea">TextArea</option>
                                <option value="checkBox">Checkbox</option>
                                <option value="radioButton">RadioButton</option>
                                <option value="listBox">ListBox</option>
                            </select>
                        </div>
                        <div><br></div>

                    <div align="center">
                        <input type="submit" value="Add field" class="btn btn-primary" id="addFieldButton" />
                    </div>
                </form>

                <form role="form" method="post" id="feedback" name="feedback">

                </form>

            </div>
        </div>
        <div class="col-md-3"></div>
    </script>
    
    <script type="text/template" id="liveViewTemplate">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="form-layer">
                List of all customers from db !
            </div>
        </div>
        <div class="col-md-3"></div>
    </script>
    
    
    
    

    <script type="text/javascript">
        var router = new app.mainRoutes();

         //initiate Backbone to listen to the urls
        Backbone.history.start();
    </script>
</body>

</html>

</html>
