<html>

<head>
    <title>Login Page</title>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../bower_components/jquery/dist/jquery.min.js" ></script>
<!--    <link href="../static/css/appstyle.css" rel="stylesheet" />-->
    <script type="text/javascript">
        $(document).ready(function(){
           setTimeout(function(){
               $('#loginDiv').css({ position: 'relative' });
               $('#loginDiv').animate({ top: '40px' },2000);
           },100); 
        });
    </script>

</head>

<body>
   
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div id="companyLogo" style="float:left; margin-left: 15px;">
                    <img src="../media/images/company-logo.jpg" width="100px; height;inherit;" />
                </div>
            </nav>
        </div>
        <div class="container" id="loginDiv" >
            <div class="row">
                <h3 style="margin-left:34%;">Please Enter your login credentails !</h3>
                </row>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-layer">
                            <form role="form" method="post" action="/login">

                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                </div>
                                <div align="center">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                            </form>
                            <div align="center"> <a href="signup.html"> Do not have an account <b>Sign up !</b> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
        
</body>

</html>

